.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.testimonials{
    width: 100%;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.testimonials-component .headline{
    padding-top: 132px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-variant: all-petite-caps;
    color: lightgray;
    letter-spacing: 4px;
    font-size: 29px;
}

.testimonials-component{
    background-color: #fffbf8;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .testimonials{
        display: block;
        height: 77rem;
    }

    .container3{
        grid-template-columns: 0;
        padding-top: 70px;
    }
    
    .testimonials-component .headline{
        padding-top: 70px;
    }
}